.notify {
    min-height: 30vh;
    .title {
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    .tags-title {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        margin: 0;
        margin-bottom: 6px;
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
        .tag {
            line-height: 1;
            margin: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #cae2eb;
            font-size: 12px;
            font-weight: 500;
            color: #0f2231;
        }
    }
    .des {
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        margin: 10px 0;
    }
    .tip {
        font-size: 12px;
        font-weight: 500;
        width: 100%;
        display: flex;
        align-items: start;
        color: #044650cc;
        .tip-title {
            margin: 0;
            // font-size: 14px;
            font-weight: bold;
            margin-right: 5px;
            width: fit-content;
        }
        .tip-content {
            margin: 0;
        }
    }
}